# .env.example
# Replace these values with your actual Supabase credentials.
# Rename this file to .env.local for local development.

NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...



FCM_PROJECT_ID=your-firebase-project-id
FCM_CLIENT_EMAIL=your-service-account-client-email
FCM_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR-PRIVATE-KEY-BODY\n-----END PRIVATE KEY-----\n"